div.card-body {
	text-align: center;
}

img {
	float: left;
}

h1, h5, table {
	text-align: center;
}

.fa-globe-americas, .fa-table, .fa-chart-bar {
      float: left;
}

.card-text {
	text-align: justify;
}

#map {
    height: 100%;
    min-height: 490px;
    margin:0;
      padding:0;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
}

.info {
    padding: 6px 8px;
    font: 18px/20px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.chart-container1, .chart-container2 {
	height: 510px;
	position: relative;
}

.date-picker-wrapper {
	z-index: 9999 !important; 
}

.input-group {
	margin-top: 10px;
}

.card {
	height: 100%;
	min-width: 200px;
}

.navbar-brand {
	color: #fff;
	font-family: 'Graduate';
    font-size: 22px;
    display: flex;
	align-items: center;
}

div.info {
    text-align: left;
}